<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Google fonts - Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <!-- Choices CSS-->
  <link rel="stylesheet" href="{% static 'css/common.css' %} ">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
  <link rel="stylesheet" href="{% static 'css/bootstrap-coloroicker.css' %} ">
  <!-- Custom Scrollbar-->
  <link rel="stylesheet" href="{% static 'css/dark-side-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.tagit.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugin.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/waves.min.css' %}">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <!-- Favicon-->
  <link rel="shortcut icon" href="{% static 'img/Msg-sgkm.jpg' %}">
  <!-- Tweaks for older IEs-->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
  <section class="login-signup">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="dropdown-overlay"></div>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab">
              <div class="login-area">
                <div class="header-area">
                  <h4 class="title">LOGIN NOW</h4>
                </div>
                <div class="login-form signin-form">
                  {% if messages %}
<div id="alert" class="alert alert-danger text-center" role="alert">
  {% for msg in messages %}
  <h6 class="alert-heading">{{msg}}</h6>
  {% endfor %}
</div>
{% endif %}
                  
                  <form class="login-form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-input">
                      <input type="email" name="email" placeholder="Type Email Address" required=""
                        >
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="form-input">
                      <input type="password" class="Password" name="password" placeholder="Type Password" required=""
                        >
                      <i class="fa fa-key"></i>
                    </div>
                    <div class="form-forgot-pass">
                      <div class="right">
                        <a href="{% url 'password_reset' %}">
                          Forgot Password?
                        </a>
                      </div>
                    </div>
                    <button type="submit" class="submit-btn">Login</button>
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>
  <!-- JavaScript files-->
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
  <script src="{% static 'jsChart.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'js/jqueryui.min.js' %}"></script>
  <script src="{% static 'js/load.js' %}"></script>
  <script src="{% static 'js/myscript.js' %}"></script>
  <script src="{% static 'js/nicEdit.js' %}"></script>
  <script src="{% static 'js/notify.js' %}"></script>
  <script src="{% static 'js/plugin.js' %}"></script>
  <script src="{% static 'js/tag-it.js' %}"></script>
  <script src="{% static 'js/waves.min.js' %}"></script>
  <!-- Main File-->
  <script src="{% static 'js/custom.js' %}"></script>
  <script>

    function injectSvgSprite(path) {

      var ajax = new XMLHttpRequest();
      ajax.open("GET", path, true);
      ajax.send();
      ajax.onload = function (e) {
        var div = document.createElement("div");
        div.className = 'd-none';
        div.innerHTML = ajax.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    }
    injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg');
  </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>