<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Google fonts - Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <!-- Choices CSS-->
  <link rel="stylesheet" href="{% static 'css/common.css' %} ">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
  <link rel="stylesheet" href="{% static 'css/bootstrap-coloroicker.css' %} ">
  <!-- Custom Scrollbar-->
  <link rel="stylesheet" href="{% static 'css/dark-side-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.tagit.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugin.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/waves.min.css' %}">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <!-- Favicon-->
  <link rel="shortcut icon" href="{% static 'img/Msg-sgkm.jpg' %}">
  <style>
    #id_new_password1, #id_new_password2{
      display:none;
    }
    .login-page{
      padding-top: 6%;
    }
  </style>
<body>
  <div class="login-page d-flex align-items-center bg-gray-100">
    <div class="container mb-3">
      <div class="row">
        <div class="col-md-6 col-lg-9 mx-auto">
          <div class="card">
            <div class="card-body p-5">
              <header class="text-center mb-5">
                <h2 class="text-xxl text-gray-400 text-uppercase">universal <strong
                    class="text-primary">College</strong></h2>
              </header>
              <form  method="post" action="">
                {% csrf_token %}
                <div class="row">
                  <div class="col-lg-7 mx-auto">
                    <p id="error"class="text-danger"></p> 
                    {% for error in form.non_field_errors %}
    {{error}}
{% endfor %}
                    {% if validlink  %}
                    {% for fm in form %}
                    <div class="form-group mb-3">
                      {{fm }}
                    </div>
                    {% endfor %}
                    <div class="col-12 text-center">
                       
                      
                    </div>
                    {% else %}
                    <h3 class="text-xxl text-gray-400 ">Please Check Link Onece Again</h>
                    {% endif %}
                  </div>
                  
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- JavaScript files-->
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
  <script src="{% static 'jsChart.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'js/jqueryui.min.js' %}"></script>
  <script src="{% static 'js/load.js' %}"></script>
  <script src="{% static 'js/myscript.js' %}"></script>
  <script src="{% static 'js/nicEdit.js' %}"></script>
  <script src="{% static 'js/notify.js' %}"></script>
  <script src="{% static 'js/plugin.js' %}"></script>
  <script src="{% static 'js/tag-it.js' %}"></script>
  <script src="{% static 'js/waves.min.js' %}"></script>
  <!-- Main File-->
  <script src="{% static 'js/custom.js' %}"></script> 
  <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script>
      
      function pcheck3(){
        let password = document.getElementById("id_password1").value;
        let cpassord = document.getElementById("id_password2").value;
        document.getElementById('id_new_password1').value = password;
        document.getElementById('id_new_password2').value = cpassord;
        if(password==cpassord){
            return true;
        }
        else{
            document.getElementById('error').innerHTML = "Password didn't match!!!";
            return false;
        }
    }
          
    </script> 
    {% comment %} <script>
        $(document).ready(funtion(){
          alert('ok')
          $('#id_new_password1').val('admin')
          $('#id_new_password2').val('admin')
        })
    </script> {% endcomment %}
</body>

</html>