<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Google fonts - Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <!-- Choices CSS-->
  <link rel="stylesheet" href="{% static 'css/common.css' %} ">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
  <link rel="stylesheet" href="{% static 'css/bootstrap-coloroicker.css' %} ">
  <!-- Custom Scrollbar-->
  <link rel="stylesheet" href="{% static 'css/dark-side-style.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.tagit.css' %}">
  <link rel="stylesheet" href="{% static 'css/plugin.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/waves.min.css' %}">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <!-- Favicon-->
  <link rel="shortcut icon" href="{% static 'img/Msg-sgkm.jpg' %}">
  
</head>
<body>
  <div class="login-page d-flex align-items-center bg-gray-100" style="padding-top: 8%;">
    <div class="container mb-3">
      <div class="row">
        <div class="col-md-6 col-lg-7 mx-auto">
          <div class="card">
            <div class="card-body p-5">
                <header class="text-center mb-5">
                    <h1 class="text-xxl text-gray-400 text-uppercase"> <strong
                        style="    color: #0b0b5d !important;">Reset Form</strong></h1>
                  </header>
              <form class="login-form" method="POST" action="">
                {% csrf_token %}
                <div class="row">
                  {% if messages %}
                  {% for msg in messages %}
                  <div class="col-lg-7 mx-auto">
                    <div class="input-material-group mb-3 text-danger">
                      {{msg}}
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                  <div class="col-lg-7 mx-auto">
                    <div class="input-material-group mb-3">
                      <label class="label-material" for="id_email">Email</label>
                      {% for fm in form %}
                      {{fm}}
                      {% endfor %}
                      
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button class="btn btn-primary mb-3" id="login" type="submit">Send</button><br>
                    <a class="text-xs text-paleBlue" href="{% url 'index' %}">Login </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/bootstrap.min.js' %} "></script>
  <script src="{% static 'jsChart.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'js/jqueryui.min.js' %}"></script>
  <script src="{% static 'js/load.js' %}"></script>
  <script src="{% static 'js/myscript.js' %}"></script>
  <script src="{% static 'js/nicEdit.js' %}"></script>
  <script src="{% static 'js/notify.js' %}"></script>
  <script src="{% static 'js/plugin.js' %}"></script>
  <script src="{% static 'js/tag-it.js' %}"></script>
  <script src="{% static 'js/waves.min.js' %}"></script>
  <!-- Main File-->
  <script src="{% static 'js/custom.js' %}"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>