{% extends 'Admin/base.html' %}
{% block title %}View Accountant{% endblock title %}
{% block body %}
<div class="bg-gray-200 text-sm">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 py-3">
        <li class="breadcrumb-item"><a class="fw-light" href="{% url 'admin_dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active fw-light" aria-current="page">View Accountant </li>
      </ol>
    </nav>
  </div>
</div>
<div class="card-body">
  <a href="{% url 'add_accountant' %}" class="btn btn-primary " type="button" style="border-radius: 20px">
    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
  </a>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header border-bottom">
      <h3 class="h4 mb-0">All Accountant</h3>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table text-sm mb-0 data">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>

            {% for i in "x"|rjust:"100" %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>Sankit</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock body %}