{% extends 'Hod/base.html' %}
{% block title %}Add Faculty{% endblock title %}
{% block body %}
<div class="bg-gray-200 text-sm">
	<div class="container-fluid">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 py-3">
				<li class="breadcrumb-item"><a class="fw-light" href="{% url 'Hod_dashboard' %}">Home</a></li>
				<li class="breadcrumb-item " aria-current="page"><a class="fw-light" href="{% url 'View_faculty' %}">View Faculty</a></li>
				<li class="breadcrumb-item active fw-light" aria-current="page"><b>Add Faculty</b></li>
			</ol>
		</nav>
	</div>
</div>
<div class="container">
	<div class="card">
		<h2 class="card-title mx-5 mt-3 text-success">Add Faculty</h2>
		<div class="card-body">
			<form action="" method="POST" onsubmit="return pcheck2()" enctype= multipart/form-data>
				{% csrf_token %}
				<div class="mb-3">
					<label class="form-label" for="Name">Name</label>
					<input class="form-control" required placeholder="Enter Full Name" name="Name" id="Name" type="text" aria-describedby="namehelp">
				</div>
				<div class="mb-3">
					<label class="form-label" for="address">Address</label>
					<input class="form-control" required placeholder="Enter Address" name="address" id="address" type="text" aria-describedby="addressHelp">
				</div>
				<div class="mb-3">
					<label class="col-sm-3 form-label" for="gender">Gender</label>
					<select class="form-select mb-3" required name="gender" id="gender" name="gender">
						<option>Select Gender</option>
						<option>Male</option>
						<option>Female</option>
						<option>Other</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label" for="bod">Date of Birth</label>
					<input class="form-control datepicker" required placeholder="Enter Birth of Date" autocomplete="off" name="dob" id="dob" type="text" aria-describedby="dobHelp">
				</div>
				<div class="mb-3">
					<label class="form-label" for="mobile">Mobile Number</label>
					<input class="form-control" maxlength="10" required placeholder="Enter Mobile Number" name="mobile" id="mobile" type="number" maxlength=10 aria-describedby="phoneHelp">
				</div>
				<div class="mb-3">
					<label class="form-label" for="email">Email address</label>
					<input class="form-control" required placeholder="Enter Email Address" name="email" id="email" type="email" aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label class="form-label" for="qualification">Qualification</label>
					<input class="form-control" required placeholder="Enter Qualification" name="qualification" id="qualification" type="text" aria-describedby="qualificationHelp">
				</div>
				<div class="mb-3">
					<label class="form-label" for="salary">Salary</label>
					<input class="form-control" required  placeholder="Enter Salary" name="salary" id="salary" type="number" aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label class="form-label" for="department">Department</label>
					<select class="form-select mb-3" required name="department" id="department" name="department">
						<option>Select Department</option>
						{% for department in department %}
							<option>{{department.Department_name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label" for="subject">Subject Faculty</label>
					<select class="form-select mb-3" required name="subject" id="subject" >
						<option>Select Subject</option>
						{% for subject in subject %}
							<option>{{subject.subject_name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label" for="password">Password</label>
					<input class="form-control" required placeholder="Enter Password" name="password" onkeyup="pcheck()" id="password" type="password" aria-describedby="passwordHelp">
				</div>
				<div class="mb-3">
					<label class="form-label" for="cpassword">Confirm Password</label>
					<input class="form-control" placeholder="Enter Password again" required name="cpassword" onkeyup="pcheck()" id="cpassword" type="password" aria-describedby="cpasswordHelp">
					<p class="form-label text-danger my-3" id="error" for="cpassword"></p>
				</div>
				<div class="mb-3">
					<label class="col-sm-3 form-label" for="profile">Profile Photo</label>
					<input class="form-control" id="profile" required name='profile' type="file">
				</div>
				<div class="mb-3">
					<button class="btn btn-primary float-right" type="submit">Add</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock body %}