{% extends 'Accountant/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
				<!-- Main Content Area Start -->
				<div class="content-area">
					{% if messages %}
					<div id="alert" class="alert alert-success text-center" role="alert">
					  {% for msg in messages %}
					  <h6 class="alert-heading">{{msg}}</h6>
					  {% endfor %}
					</div>
					{% endif %}


					<div class="row row-cards-one">

						<div class="col-md-12 col-lg-6 col-xl-4">
							<div class="mycard bg1">
								<div class="left">
									<h5 class="title">Total Student! </h5>
									<span class="number">{{s}}</span>
									<a href="https://geniuscart.royalscripts.com/vendor/orders" class="link">View
										All</a>
								</div>
								<div class="right d-flex align-self-center">
									<div class="icon">
										<i class="fa fa-graduation-cap me-xl-2" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock body %}