<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %} ">
  <link rel="stylesheet" href="{% static 'vendor/overlayscrollbars/css/OverlayScrollbars.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="shortcut icon" href="{% static 'img/Msg-sgkm.jpg' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
</head>

<body>
  <nav class="side-navbar">
    <div class="sidebar-header d-flex align-items-center justify-content-center p-3 mb-3">
      <div class="sidenav-header-inner text-center"><img class="img-fluid rounded-circle avatar mb-3"
          src="{{request.user.profile.url}}">
        <h2 class="h5 text-white text-uppercase mb-0">{{request.user.name}}</h2>
        <p class="text-sm mb-0 text-muted">Accountant</p>
      </div>
      <a class="brand-small text-center" href="{% url 'accountant_Dashboard' %}">
        <p class="h1 m-0">UC</p>
      </a>
    </div>
    <span class="text-uppercase text-gray-500 text-sm fw-bold letter-spacing-0 mx-lg-2 heading">Main</span>
    <ul class="list-unstyled">
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'accountant_Dashboard' %}">
          <i class="fa fa-th me-xl-2"></i>Dashboard </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'view_student' %}">
          <i class="fa fa-male me-xl-3" aria-hidden="true"></i> Student </a></li>
      <li class="sidebar-item"><a class="sidebar-link" href="{% url 'Notification' %}">
        <i class="fa fa-envelope me-xl-2" aria-hidden="true"></i> Notification </a></li>

        </ul>
      </li>
  </nav>
  <div class="page">
    <header class="header">
      <nav class="navbar">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between w-100">
            <div class="d-flex align-items-center"><a
                class="menu-btn d-flex align-items-center justify-content-center p-2 bg-gray-900" id="toggle-btn"
                href="#">
                <svg class="svg-icon svg-icon-sm svg-icon-heavy text-white">
                  <use xlink:href="#menu-1"> </use>
                </svg></a><a class="navbar-brand ms-2" href="{% url 'accountant_Dashboard' %}">
                <div class="brand-text d-none d-md-inline-block text-uppercase letter-spacing-0"><span
                    class="text-white fw-normal text-xs">Universal </span><strong class="text-primary text-sm">
                    College</strong></div>
              </a></div>
            <ul class="nav-menu mb-0 list-unstyled d-flex flex-md-row align-items-md-center">
              <li class="nav-item dropdown"> <a class="nav-link text-white position-relative" id="messages"
                  rel="nofollow" data-bs-target="#" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <svg class="svg-icon svg-icon-xs svg-icon-heavy">
                    <use xlink:href="#envelope-1"> </use>
                  </svg><span class="badge bg-info">{{notification_count}}</span></a>
                <ul class="dropdown-menu dropdown-menu-end mt-sm-3 shadow-sm" aria-labelledby="messages">
                  {% for no in notification %}
                    <li>
                      <a class="dropdown-item d-flex py-3" href="#!"><img
                        class="img-fluid rounded-circle flex-shrink-0 avatar2 shadow-0" src="{{no.by.profile.url}}" alt="..."
                        width="46">
                        <div class="ms-3"><span class="h6 d-block fw-normal mb-1 text-sm text-grey-600"><b>{% if no.by.is_superuser %}{{no.by.name}}(Admin)
                            {% elif no.by.is_student %}{{no.by.name}}(Student)
                            {% elif no.by.is_accountant %}{{no.by.name}}(Accountant)
                            {% elif no.by.is_librarian %}{{no.by.name}}(Librarian)                     
                            {% elif no.by.is_faculty %}{{no.by.name}}(Faculty)                     
                          {% endif %}</b></span><small class=" text-black-6000"> {{no.message}}</small>
                          <p class="mb-0 small text-gray-600">{{no.created}}</p>
                        </div>
                      </a></li>
                      {% endfor %}
                  
                  <li><a class="dropdown-item text-center" href="#!"> <strong class="text-xs text-gray-600">Read all
                        messages </strong></a></li>
                </ul>
              </li>
              <li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-white text-sm" id="languages"
                  rel="nofollow" data-bs-target="#" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"><img src="{{request.user.profile.url}}" height="30px" class="rounded-circle"></a>
                <ul class="dropdown-menu dropdown-menu-end mt-sm-3 shadow-sm" aria-labelledby="languages">
                  <li><a class="dropdown-item" rel="nofollow" href="{% url 'edit_accountant' %}"> <span><i class="fa fa-user me-xl-2"
                          aria-hidden="true"></i>Edit User</span></a></li>
                  <li><a class="dropdown-item" rel="nofollow" href="{% url 'logout' %}"><span>
                  <i class="fa fa-lock me-xl-2"></i>Logout</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% block body %}{% endblock body %}
  </div>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/just-validate/js/just-validate.min.js' %}"></script>
  <script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
  <script src="{% static 'vendor/overlayscrollbars/js/OverlayScrollbars.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/front.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready (function(){
      
         window.setTimeout(function () { 
          $("#alert").hide("slow"); 
         }, 1000);                   
   });
  $( function() {
    
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      dateFormat: 'yy-mm-dd',
      yearRange: '1980:2050',
    });

  } );
  $(document).ready(function() {
    $('.data').DataTable({
      "bLengthChange": false,
    });
} );
  </script>
    
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</body>

</html>