{% extends 'Accountant/base.html' %}
{% block title %}Add student{% endblock title %}
{% block body %}
{% for student in student %}
<div class="content-area">
	{% if messages %}
	<div id="alert" class="alert alert-danger text-center" role="alert">
		{% for msg in messages %}
		<h6 class="alert-heading">{{msg}}</h6>
		{% endfor %}
	</div>
	{% endif %}
	<style>
		#ui-datepicker-div {
			background-color: #adadad;
		}
	</style>
	<div class="mr-breadcrumb">
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading d-flex justify-content-between">
					<span>Add student </span>
					<a class="add-btn" href="{% url 'view_student' %}">
						<i class="fa fa-arrow-left" aria-hidden="true"></i>
						Back
					</a>
				</h4>
				<ul class="links">
					<li>
						<a href="{% url 'index' %}">Dashbord</a>
					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</li>
					<li>
						<a href="#">View student </a>
					</li>
					<li>
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</li>
					<li>
						<a href="{% url 'add_student' %}">{{student.name}}</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
	<form action="" method="POST" onsubmit="return pcheck2()" enctype=multipart/form-data>
		{% csrf_token %}
		<div class="row">
			<div class="col-lg-8">
				<div class="add-product-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="product-description">
								<div class="body-area">
									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Name* </h4>
											</div>
										</div>
										<div class="col-lg-12">
											<input type="text" class="input-field" placeholder="Enter Full Name" value="{{student.name}}"
												name="Name" required="">
										</div>
									</div>


									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Address* </h4>
											</div>
										</div>
										<div class="col-lg-12">
											<input type="text" value="{{student.Address}}" class="input-field" placeholder="Enter Address "
												name="address" required="">
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Gender*</h4>
											</div>
										</div>
										<div class="col-lg-12">
											<select id="cat" name="gender">
												<option value="{{student.Gender}}">{{student.Gender}}</option>
												<option>Male</option>
												<option>Female</option>
												<option>Other</option>

											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Date of Birth* </h4>
											</div>
										</div>
										<div class="col-lg-12">
											<input class="form-control datepicker" required
												placeholder="Enter Birth of Date" value="{{student.date_of_birth|date:"Y-m-d"}}" autocomplete="off" name="dob" id="dob"
												type="text" aria-describedby="dobHelp">
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Mobile Numbe* </h4>
											</div>
										</div>
										<div class="col-lg-12">
											<input class="form-control " required value="{{student.mobile_no}}"
												oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
												placeholder="Enter Mobile Number" maxlength="10" autocomplete="off"
												name="mobile" id="mobile" type="number" aria-describedby="dobHelp">
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Email address* </h4>
											</div>
										</div>
										<div class="col-lg-12">
											<input class="form-control " readonly value="{{student.email}}" required placeholder="Enter Email address"
												autocomplete="off" name="email" id="email" type="text"
												aria-describedby="dobHelp">
										</div>
									</div>
									
									
									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Department* </h4>
											</div>
										</div>
										<div class="col-lg-12">
											<select class="form-select mb-3" required name="department" id="department"
												name="department" disabled="true">
												<option>{{student.department}}</option>
												
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Year* </h4>
											</div>
										</div>
										<div class="col-lg-12">
											<select class="form-select mb-3" required name="year" id="subject" disabled="true">
												<option value="{{student.year}}">{{student.year}}</option>
												
											</select>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-12 text-center">
											<button class="addProductSubmit-btn" type="submit">Update</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="add-product-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="product-description">
								<div class="body-area">


									<div class="row">
										<div class="col-lg-12">
											<div class="left-area">
												<h4 class="heading">Profile Picture *</h4>
											</div>
										</div>
										<div class="col-lg-12">
											<div class="img-upload custom-image-upload">
												<img src="{{student.profile.url}}" alt="">
													<input type="file" name="profile"  class="img-upload-p py-4 px-3"
														id="image-upload">
												</div>
												
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>

{% endfor %}






{% endblock body %}