{% extends 'Librarian/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
				<!-- Main Content Area Start -->
				<div class="content-area">
					{% if messages %}
					<div id="alert" class="alert alert-success text-center" role="alert">
					  {% for msg in messages %}
					  <h6 class="alert-heading">{{msg}}</h6>
					  {% endfor %}
					</div>
					{% endif %}


					<div class="row row-cards-one">

						<div class="col-md-12 col-lg-6 col-xl-4">
							<div class="mycard bg1">
								<div class="left">
									<h5 class="title">Total Assign Book! </h5>
									<span class="number">{{assign_book}}</span>
									<a href="{% url 'view_assig_Book'%}" class="link">View
										All</a>
								</div>
								<div class="right d-flex align-self-center">
									<div class="icon">
										<i class="fa fa-book me-xl-2" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 col-lg-6 col-xl-4">
							<div class="mycard bg2">
								<div class="left">
									<h5 class="title">Total Available Book!</h5>
									<span class="number">{{book}}</span>
									<a href="{% url 'Book'%}" class="link">View
										All</a>
								</div>
								<div class="right d-flex align-self-center">
									<div class="icon">
										<i class="fa fa-book me-xl-2" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-12 col-lg-6 col-xl-4">
							<div class="mycard bg3">
								<div class="left">
									<h5 class="title">Total Unread Notification!</h5>
									<span class="number">{{notification_count}}</span>
									<a href="View_accountant" class="link">View
										All</a>
								</div>
								<div class="right d-flex align-self-center">
									<div class="icon">
										<i class="fa fa-envelope me-xl-2"></i>
									</div>
								</div>
							</div>
						</div>
						</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock body %}