{% extends 'Librarian/base.html' %}
{% block title %}View Assign Book{% endblock title %}
{% block body %}
<div class="bg-gray-200 text-sm">
  <div class="container-fluid">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 py-3">
        <li class="breadcrumb-item"><a class="fw-light" href="{% url 'librarian_Dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active fw-light" aria-current="page"><b>View Book</b> </li>
      </ol>
    </nav>
  </div>
</div>
{% if messages %}
<div id="alert" class="alert alert-success text-center" role="alert">
  {% for msg in messages %}
  <h6 class="alert-heading">{{msg}}</h6>
  {% endfor %}
</div>
{% endif %}
<div class="card-body" >
  <a href="{% url 'Add_book' %}" class="btn btn-primary " type="button" style="border-radius: 20px"><i
      class="fa fa-plus-circle" aria-hidden="true"></i> Add
  </a>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header border-bottom">
      <h3 class="h4 mb-0">All Available book</h3>
    </div>
    <div class="card-body ">
      <div class="table-responsive">
        <table class="table text-sm mb-0 data">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Book Name</th>
              <th>Publication Name</th>
              <th>Quantity</th>
            </tr>
          </thead>
          <tbody>

            {% for book in book %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{book.Book_name}}</td>
              <td>{{book.publication}}</td>
              <td>{{book.quantity}}</td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endblock body %}