{% extends 'Librarian/base.html' %}
{% block title %}View Faculty{% endblock title %}
{% block body %}

<div class="content-area">
  {% if messages %}
  <div id="alert" class="alert alert-success text-center" role="alert">
    {% for msg in messages %}
    <h6 class="alert-heading">{{msg}}</h6>
    {% endfor %}
  </div>
  {% endif %}
  <div class="mr-breadcrumb">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="heading">View Book</h4>
        <ul class="links">
          <li>
            <a href="{% url 'librarian_Dashboard' %}">Dashbord</a>
          </li>
          <li>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </li>

          <li>
            <a href="{% url 'Book' %}">View Book</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div class="product-area">
    <div class="row">
      <div class="col-lg-12">
        <div class="mr-table allproduct dataTables_wrapper">


          <div class="table-responsiv dataTables_wrapper">
            <div id="geniustable_wrapper " class="dataTables_wrapper dt-bootstrap4 no-footer">
              <div class="row">
                <div class="col-sm-12 ">
                  <table id="geniustable55" class="table table-hover dt-responsive dataTable no-footer dtr-inline"
                    cellspacing="0" width="100%" a style="width: 100%;">
                    <div class="col-sm-4 table-contents"
                      style="position: absolute; top: 4%; right: 0px; z-index:99999999;"><a class="add-btn"
                        href="{% url 'Add_book' %}"><i class="fa fa-plus" aria-hidden="true"></i>
                        <span class="remove-mobile">Add <span></span></span></a></div>
                    <thead>
                      <tr>
                        <th>Sr No.</th>
                        <th>Book Name</th>
                        <th>Publication Name</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    {% for book in book %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{book.Book_name}}</td>
                      <td>{{book.publication}}</td>
                      <td>{{book.quantity}}</td>
                    </tr>
                    {% endfor %}

                    <tbody>

                    </tbody>

                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock body %}